<template name="ApplicationLayout">
	<header>
		<title>Trivia Crack</title>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</header>

	<body>
		<header>
			<nav role="Navigation">
				<div class="nav-wrapper container">
					<a href="/" id="logo-container" class="brand-logo">Trivia Crack</a>
					<ul class="right">
						<li><a href="search/"><i class ="material-icons left">search</i>Find Friends</a></li>
						<li>{{> loginButtons align = right}}</li>
					</ul>
				</div>
			</nav>
		</header>
		<main>o {{> yeild}}
		</main>
		<footer class="page-footer">
			<div class="footer-copyright">
				<div classs="container">
					@ 2016 Aaron C
				</div>
			</div>
		</footer>
	</body>
</template>